body{
    color: white;
    background-color: rgba(0, 53, 199, 0.87);
}
.titulo-principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
.conteudo-titulo{
    text-align: center;
}
.conteudo-senha{
    margin: top 80px;
    background-color:rgb(46, 73, 104);
    padding: 24px;
}
.conteudo{
    max-width: 900px;
    margin: 0 auto; 
}